* {
    box-sizing: border-box;
    font-size: 1rem;
    --light-blue: #BDC4D4;
    --dark-blue: #1C2E4A;
}

body {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
    font-style: italic;
}

header {
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: space-between;
    padding: 1em;
}

a, a:visited {
    color: #0bf;
    text-decoration: none;
}

button, input[submit] {
    background-color: var(--light-blue);
    border-radius: 1em;
    color: var(--dark-blue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

button a, input[submit] a, 
button a:visited, input[submit] a:visited {
    color: var(--dark-blue);
}

input, select, textarea {
    background-color: transparent;
    border: 1px solid var(--light-blue);
    color: var(--light-blue);
    padding: 0.5em;
}

marquee {
    display: block;
    margin: 0 0 0 0;
}

#vertical_dvd {
    border: 1px var(--light-blue) solid;
    height: 100%;
    width: 20%;
}

section h1 {
    margin-top: 1rem;
}

.comment {
    background-color: var(--light-blue);
    border-radius: 1em;
    color: var(--dark-blue);
    padding: 1em;
    width: 75%;
}

.commissions_list {
    display: flex;
    flex-direction: column;
}

.strong {
    font-weight: bold !important;
}

.logout {
    display: flex;
    flex-direction: column-reverse;
}