<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} ">
    </head>
    <body>
        <header>
            <marquee behavior="alternate" direction="down" id="vertical_dvd">
                <marquee behavior="alternate" direction="">
                    <a href="{% url 'home' %}" id="app_title" class="strong">
                        {% if request.resolver_match.app_name and request.resolver_match.app_name != 'user_management' %}
                            {{request.resolver_match.app_name}}
                        {% else %}
                            hobbysite
                        {% endif %}
                    </a>
                </marquee>
            </marquee>
            
            {% if request.user.is_authenticated %}
                <form class="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <form class="logout" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            {% endif %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>