{% extends 'base.html' %}
{% load static %}

{% block title %}{{commission.title}}{% endblock %}

{% block content %}
    <header>
        <h1>{{commission.title}}</h1>
        <h2>Created on: {{commission.created_on}}</h2>
        <h2>Last updated: {{commission.last_updated}}</h2>
        <p>People required: {{commission.people_required}}</p>
    </header>
    
    <p>{{commission.description}}</p>

    <section>
        <h1>Comments</h1>
        {% for comment in commission.comments.all%}
        <div class="comment">
            {{comment.entry}}
        </div>
        {% endfor %}
    </section>
{% endblock %}