{% extends 'base.html' %}
{% load static %}

{% block title %}{{commission.title}}{% endblock %}

{% block content %}
    <header>
        <h1>{{commission.title}}</h1>
        <h2>Created on: {{commission.created_on}}</h2>
        <h2>Last updated: {{commission.last_updated}}</h2>
        
    </header>

    {% for job in commission %}
        <p>People required: {{job.manpower_required}}</p>
        <p>Slots left: {{job.manpower_left}}</p>
    
    <p>{{commission.description}}</p>

    <form action="POST">
        {%csrf_token%}
        {{form.as_p}}
    </form>

    <section>
        <h1>Comments</h1>
        {% for comment in commission.comments.all%}
        <div class="comment">
            {{comment.entry}}
        </div>
        {% endfor %}
    </section>
{% endblock %}