{% extends 'base.html' %}
{% load static %}

{% block title %}{{commission.title}}{% endblock %}

{% block content %}
    <h1>{{commission.title}}</h1>
    <h2>Created on: {{commission.created_on}}</h2>
    <h2>Last updated: {{commission.last_updated}}</h2>

    {% if commission.author == request.user.profile %}
        <a href="{% url 'commissions:commissions-edit' pk=commission.pk %}">Update this commission</a>
    {% endif %}
    <h2>Description:</h2>
    <p>{{commission.description}}</p>
    <br>
    <h1> Jobs: </h1>
    {% for job in commission.jobs.all %}
        <p>Role: <a href ={% url 'commissions:job-detail' pk=job.pk %}>{{job.role}}</a> </p>
    {% endfor %}
    
    {% if request.user.profile == commission.author %}
        <form method="POST">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="Create New Job">
        </form>
    {% endif %}

    <section>
        <h1>Comments</h1>
        {% for comment in commission.comments.all%}
        <div class="comment">
            {{comment.entry}}
        </div>
        {% endfor %}
    </section>
{% endblock %}