{% extends 'base.html' %}
{% load static %}

{% block title %}Create new Commission{% endblock %}

{% block content %}
    <h1>Add a new Commission...</h1>
    <section>
        <form method="POST" enctype="multipart/form-data">
            <p>By: {{request.user}}</p>
            <p>Created on: {{commission.created_on}}</p>
            <p>Last Updated: {{commission.last_updated}}</p>
            {%csrf_token%}
            {{form}}
            <button type="submit">Submit</button>
        </form>
    </section>
{% endblock %}