{% extends 'base.html' %}
{% load static %}

{% block title %}Available Commissions{% endblock %}

{% block content %}
    <section class="commissions_list">
        <!--list of user's own commissions-->
        {% if request.user.is_authenticated %}
            <h1>Your commissions</h1>
            {% for commission in user_commissions %}
            <div>
                <a href="{{commission.get_absolute_url}}">{{commission}}</a>
                <p>Status: {{commission.status}}</p>
                <p>Created on: {{commission.created_on}}</p>
            </div>
            {% endfor %}
        {% endif %}

        <!--list of commissions applied to-->
        {% if request.user.is_authenticated %}
            <h1>Commissions you've applied to</h1>
            {% for commission in applied_commissions %}
            <div>
                <a href="{{commission.get_absolute_url}}">{{commission}}</a>
                <p>Status: {{commission.status}}</p>
                <p>Created on: {{commission.created_on}}</p>
            </div>
            {% endfor %}
        {% endif %}

        <!--list of commissions in general-->
        <h1>Available Commissions:</h1>
        {% for commission in object_list %}
        <div>
            <a href="{{commission.get_absolute_url}}">{{commission}}</a>
            <p>Status: {{commission.status}}</p>
            <p>Created on: {{commission.created_on}}</p>
        </div>
        {% endfor %}
        <a href="{% url 'commissions:commissions-add' %}">Create a new commission...</a>
    </section>
{% endblock %}