{% extends 'base.html' %}
{% load static %}

{% block title %}Available Commissions{% endblock %}

{% block content %}
    <section class="commissions_list">
        <!--list of user's own commissions-->
        {% if request.user.is_authenticated %}
            <h1>Your commissions</h1>
            {% for commission in object_list %}
            <div>
            {% if commission.author == request.user.profile %}
                <p><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></p>
                <p>Status: {{commission.status}}</p>
                <p>Created on: {{commission.created_on}}</p>
            {% endif %}
            </div>
            {% endfor %}
        {% endif %}

        <!--list of commissions applied to-->
        {% if request.user.is_authenticated %}
            <h1>Commissions you've applied to:</h1>
            {% for commission in object_list %}
            <div>
            {% if commission.jobs.job_application.applicant == request.user.profile %}
                <a href="{{commission.get_absolute_url}}">{{commission.title}}</a>
                <p>Status: {{commission.status}}</p>
                <p>Created on: {{commission.created_on}}</p>
            {% endif %}
            </div>
            {% endfor %}
        {% endif %}

        <!--list of commissions in general-->
        <h1>Available Commissions:</h1>
        {% for object in object_list %}
        <div>
            <p><a href="{{object.get_absolute_url}}">{{object.title}}</a></p>
            <p>Status: {{object.status}}</p>
            <p>Created on: {{object.created_on}}</p>
        </div>
        {% endfor %}
        <a href="{% url 'commissions:commissions-add' %}">Create a new commission...</a>
    </section>
{% endblock %}