{% extends 'base.html' %}
{% load static %}
{% block title %}{{object.title}}{%endblock%}

{% block content %}
<img style='max-height:450px; max-width:450px;' src='{{ article.header_image.url }}'>
<h1> {{article.title}} </h1>
{% if article.author.user == request.user %}
    <p><a href = {% url 'wiki:update' pk=object.pk%}> Update page </a></p>
{% endif %}
<h2>By: {{ article.author.name }} </h2>
{% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
{% endif %}
<p> {{article.entry}} </p>
<br>
<p>Created on: {{article.created_on}}</p>
<p>Last updated: {{article.updated_on}}</p>

{% if request.user.is_authenticated %}
<form method='post'>
    {% csrf_token %}
    {{form}}
    <input type='submit', value='Comment'>
</form>
{% endif %}

{% for comment in article.comments.all.reverse %}
<b>{{ comment.author.name }} says:</b>
<p>{{ comment.entry }}</p>
{% endfor %}

{% endblock %}